@model System.Collections.Generic.IEnumerable<DataContracts.Search.SearchData>

@{
    ViewBag.Title = "Search Results";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
    }

</table>
