
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Старт индексации";
}

<h3>Старт</h3>

<p>
        @Html.ActionLink("Старт", "Execute")
        @Html.ActionLink("Отмена", "Index")
</p>


